<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DunderMifflin.Properties.Settings.DunderMifflinConnectionString"
            connectionString="Data Source=DESKTOP-JD1D6MG\BRUHSERVER;Initial Catalog=DunderMifflin;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>